@import "~taro-ui/dist/style/components/flex.scss";

.user-wrap {
    width: 100%;
    min-height: 100vh;
    .user-Info{
        padding: 6% 3%;
        border-bottom: 8px solid #eee;
        background-color: rgb(255, 187, 97);
    }
}

.user-name{
    padding: 0 4%;
    height: 100%;
    font-weight: bold;
    line-height: 1.5;
    .user-mobile{
        font-weight: 300;
    }
}

.user-Menu-list{
    display: flex;
    align-items: center;
    padding: 2%;
    line-height: 2;
    border-bottom: 1px solid #eee;
    .user-Menu-Img{
        width: 40px;
        height: 40px;
    }
}

