@import "~taro-ui/dist/style/components/activity-indicator.scss";

.loading{
    .loading-box{
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
        background-color: #000;
    }
}